{% extends 'layout/base.html.twig' %}
{# Styles Start #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="{{ asset('assets/vendor/datatables/css/jquery.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}
{# Styles End #}
{# Title Start #}
{% block title %}Apiz | Başvuru Öncesi Kayıt{% endblock %}
{# Title End #}
{# Page Title Start #}
{% block page_title %} Başvuru Öncesi Kayıt{% endblock %}
{# Page Title End #}
{# Page Content Start #}
{% block body %}

    {# Javascripts End #}
    {#    {% set myServiceInstance = my_service() %}#}
    {#    {{ dump(myServiceInstance) }}#}

    <div class="modal fade detay-modal" tabindex="-1" role="dialog" aria-hidden="true">
<<<<<<< HEAD
        <div class="modal-dialog modal-fullscreen">
=======
        <div class="modal-dialog modal-xl">
>>>>>>> origin/master
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Başvuru Bilgileri</h5>
                    <div class="flex align-items-center gap-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    {{
                    include('patent/pre-application-registration/detail.html.twig')
                    }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="{{ path('app_main') }}">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Başvuru Öncesi Kayıt</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Kayıt Listesi - Patent Geçici Dosya</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="applicationFileList" class="table table-bordered table-responsive-sm" style="min-width: 845px">
                                    <thead>
                                    <tr>
                                        <th>Logo</th>
                                        <th>Marka</th>
                                        <th>Sınıf</th>
                                        <th>Dosya No</th>
                                        <th>Başvuru No</th>
                                        <th>Başvuru Tarihi</th>
                                        <th>Tescil No</th>
                                        <th>Yenileme Tarihi</th>
                                        <th>Dosya Son Durum</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  style="">
                                        <td>
                                            <div  style="text-align: left; width: 76px;"><img class="v-image v-widget" src="http://apiz.ankarapatent.com/fileServer/tmImage?res=64&amp;appNo=2023/048562" alt=""></div>
                                        </td>
                                        <td>
                                            <div >
                                                <div class="v-link v-widget"><a class="text-primary text-decoration-underline" href="#" data-bs-toggle="modal" data-bs-target=".detay-modal"><span>derle</span></a></div>
                                            </div>
                                        </td>
                                        <td style="min-width: 150px">
                                            <div>07, 08, 09, 16, 21, 35, 38, 41, 42, 45</div>
                                        </td>
                                        <td>
                                            <div >000067</div>
                                        </td>
                                        <td >
                                            <div >2023/048562</div>
                                        </td>
                                        <td >
                                            <div >13/04/2023</div>
                                        </td>
                                        <td >
                                            <div></div>
                                        </td>
                                        <td >
                                            <div >-</div>
                                        </td>
                                        <td >
                                            <div>Yayın</div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# Page Content End #}
{# Javascripts Start #}
{% block javascripts %}
    {{ parent() }}
    {% set scriptData = {
        'dataTableJsonLang' : asset('assets/lang/datatableTr.json')
    } %}

    <script>
        var scriptData = {{ scriptData|raw|json_encode|raw }};
    </script>
    <script src="{{ asset('assets/vendor/datatables/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/moment/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/brand/application_file.js')}}"></script>

{% endblock %}