{% extends "auth/layout.html.twig" %}

{% block body %}
	<div class="authincation h-100">
		<div class="container h-100">
			<div class="row justify-content-center h-100 align-items-center">
				<div class="col-md-6">
					<div class="authincation-content">
						<div class="row no-gutters">
							<div class="col-xl-12">
								<div class="auth-form">
							
									<div class="text-center mb-3" style="height: 80px; padding:5px;  width:100%; display:flex; justify-content:center; ">
										<div style="width:120px;  border-radius:10px">
											<a href="/"><img src="{{ asset('assets/images/logo/apiz_3.png') }}" style="width:100px" alt=""></a>
										</div>
									</div>
									<h4 class="text-center mb-4 mt-5">Şifre Sıfırlama</h4>

									

									{% if(app.request.get('error') is defined) %}
									<div class="text-danger" >
									{{ app.request.get('error')  }}
									</div>
									{% endif %}
									{# 
									{% for message in app.flashes('error') %}
									<div class="text-danger" >
									{{ message }}
									</div>
									{% endfor %} #}
								
                                  
										{%
										if (error == null)
									%}
									  <div>
                                        <p>Güvenlik için lütfen şifrenizi değiştirin.</p>
                                    </div>
								<form action="{{path('user_app_change_password_post')}}" method="post">

										<div class="mb-3">
											<label class="mb-1">
												<strong>Şifre</strong>

											</label>
											<input type="hidden" name="token" value="{{csrf_token('change-password')}}">


											<input type="password" id="password" name="password" class="form-control" required>
										</div>

											<div class="mb-3">
											<label class="mb-1" >
												<strong>Tekrar Şifre</strong>

											</label>

											<input type="password" id="re-password" name="re-password" class="form-control" required>
										</div>
									
									
										<div class="text-center">
											<button type="submit" name="login-btn" class="btn btn-primary btn-block"
											{% if(error) %}
											disabled
											{% endif %}

											>Gönder</button>
										</div>
									</form>
										{% endif %}
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
{% endblock %}
