{% extends "auth/layout.html.twig" %}



{% block body %}
	<div class="authincation h-100">
		<div class="container h-100">
			<div class="row justify-content-center h-100 align-items-center">
				<div class="col-md-6">
					<div class="authincation-content">
						<div class="row no-gutters">
							<div class="col-xl-12">
								<div class="auth-form">
									<div>
										<a href="/" class="text-primary text-underline">Geri Git</a>
									</div>
									<div class="text-center mb-3" style="height: 80px; padding:5px;  width:100%; display:flex; justify-content:center; ">
										<div style="width:120px;  border-radius:10px">
											<a href="/"><img src="{{ asset('assets/images/logo/apiz_3.png') }}" style="width:100px" alt=""></a>
										</div>
									</div>
									<h4 class="text-center mb-4 mt-5">Şifremi Unuttum</h4>

									{% for message in app.flashes('success') %}
										<div class="text-primary">
											{{ message }}
										</div>
									{% endfor %}

									{% for message in app.flashes('error') %}
										<div class="text-danger">
											{{ message }}
										</div>
									{% endfor %}

									<div>
										<p>Şifrenizi sıfırlamak için e-posta adresinize bir bağlantı göndereceğiz.
										</p>
									</div>
									<form action="{{path('app_auth_forgot_password_send')}}" method="post">

										<div class="mb-3">
											<label class="mb-1">
												<strong>Kullanıcı Adı
												</strong>

											</label>

											  

											<input type="hidden" name="token" value="{{ csrf_token('forgot-password') }}">

											<input type="text" id="_username" name="_username" class="form-control" required>
										</div>

										<div class='mt-2 d-flex justtify-content-end'> 
											<div class="g-recaptcha"  data-sitekey="6LcskkkpAAAAACwX0O9o_OhDROuwk_n9Bx56mxY8"></div>
										</div>



										<div class="text-center mt-3">
											<button type="submit" name="login-btn" class="btn btn-primary btn-block">Gönder</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
