<!DOCTYPE html>
<html lang="en" class="h-100">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
<<<<<<< HEAD
		<meta name="keywords" content=""/>
		<meta name="author" content=""/>
		<meta name="robots" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- PAGE TITLE HERE -->
		<title>Apiz</title>
=======
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta
		name="format-detection" content="telephone=no">

		<!-- PAGE TITLE HERE -->
		<title>Apiz | Giriş Yap</title>
>>>>>>> origin/master

		<!-- FAVICONS ICON -->
		<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
		<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"> {% block styles %}{% endblock %}
		</head>

		<body class="vh-100"> {% block body %}{% endblock %}


			<script src="{{ asset('assets/vendor/global/global.min.js')}}"></script>
			<script src="{{ asset('assets/js/custom.js')}}"></script>
			<script src="{{ asset('assets/js/dlabnav-init.js')}}"></script>
			<script src="{{ asset('assets/js/styleSwitcher.js')}}"></script>

			{% block scripts %}{% endblock %}
		</body>
	</html>
