{% extends 'layout/base.html.twig' %}

{# Styles Start #}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/datatables/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="{{ asset('assets/vendor/jquery-nice-select/css/nice-select.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/css/select2.min.css') }}">
    <link href="{{ asset('assets/vendor/jquery-nice-select/css/nice-select.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/sweetalert2/dist/sweetalert2.min.css') }}" rel="stylesheet">

    <style>
        .dataTable input[type="checkbox"] {
            width: 20px !important;
        }
        .custom-input {
            border-radius: 1.25rem;
            border: 0.0625rem solid #c8c8c8;
            height: 2.5rem;
            background: #fff;
            width: 100%;
            padding: 0 10px;
        }
    </style>


{% endblock %}
{# Styles End #}

{# Title Start #}
{% block title %}Apiz | Marka Gözlem{% endblock %}
{# Title End #}

{# Page Title Start #}
{% block page_title %} Marka Gözlem {% endblock %}
{# Page Title End #}

{# Page Content Start #}
{% block body %}

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">



            <!-- Modal -->
            {{ include('observation/inc/similarity_model.html.twig') }}
            {{ include('observation/inc/other_brans.html.twig') }}

            <div class="modal fade detay-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Marka Bilgileri</h5>
                            <div class="flex align-items-center gap-2">
                                <a href="#" class="text-primary text-decoration-underline" style="font-size: 18px">Bülten</a>
                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                </button>
                            </div>
                        </div>
                        <div class="modal-body">
                            {{
                            include('brand/international_trademark/detail.html.twig')
                            }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">

                <div class="col-sm-12 col-xl-12">

                    <div class="card ">
                        <div class="card-header d-block">
                            <h4 class="card-title">Gözlem Yap</h4>
                            <p class="m-0 subtitle">İlgili alanlarda seçim yapıp sonrasında "Gözlemi başlat" butonuna tıklayıp arama yapabilirsiniz.</p>
                        </div>
                        <div class="card-body d-flex justify-content-between align-items-center gap-2">
                           <div class="w-75 d-flex align-items-center gap-2">
                             <div class="w-50">
                                 <select id="brand-select">
                                     <option value="AL">Bülten Seç</option>
                                     <option>427</option>
                                 </select>
                             </div>
                               <div class="w-50">
                                    <input type="text" class="custom-input" placeholder="Marka Adı">
                               </div>
                               <div class="w-50">
                                   <select id="class-select" class="form-control">
                                       <option value="AL">Sınıf Seç</option>
                                   </select>
                               </div>
                           </div>


                            <div class="w-25">
                                <button type="button" class="btn btn-rounded btn-primary"><span class="btn-icon-start text-primary"><i class="fas fa-search"></i>
                                    </span>Gözlemi başlat</button>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

          <div class="row">
{#              <div class="col-sm-12 col-xl-4">#}
{#               <div>#}
{#                   <div class="card ">#}

{#                       <div class="card-header border-0 pb-0">#}
{#                           <h2 class="card-title">ANADOL - 2021/182041</h2>#}
{#                       </div>#}
{#                       <div class="card-body pb-0">#}
{#                            <div>#}
{#                                <img src="{{ asset('assets/images/logo/anadol.png') }}" style="width: 100%; height: 100px;object-fit: contain"  />#}
{#                            </div>#}
{#                           <ul class="list-group list-group-flush">#}
{#                               <li class="list-group-item d-flex px-0 justify-content-between">#}
{#                                   <a href="#" class="text-primary text-decoration-underline"  data-bs-toggle="modal" data-bs-target="#otherBransh" ><strong>Koç Holding Anonim Şirketi</strong></a>#}


{#                               </li>#}
{#                               <li class="list-group-item d-flex px-0 justify-content-between">#}
{#                                   <strong>0008054/000246/TR001</strong>#}
{#                               </li>#}
{#                               <li class="list-group-item d-flex flex-column px-0 justify-content-between">#}
{#                                   <p><strong>2017/17897</strong></p>#}
{#                                   <p><strong>28/02/2017</strong></p>#}
{#                               </li>#}

{#                               <li class="list-group-item  px-0">#}
{#                                  <div class="d-flex  justify-content-between"> <div><a href="#" class="text-primary text-decoration-underline"><strong>Anadol Şekil</strong></a></div>#}
{#                                      <div class="d-flex  gap-1">#}
{#                                           <div>#}
{#                                               <p class="p-0">(09/12/2010) </p>#}
{#                                           </div>#}
{#                                          <div>#}
{#                                              <a href="javascript:void(0)" class="badge badge-circle badge-outline-primary">12</a>#}

{#                                          </div>#}
{#                                      </div>#}
{#                                  </div>#}

{#                                   <div class="d-flex  justify-content-between"> <div><a href="#" class="text-primary text-decoration-underline"><strong>Anadol</strong></a></div>#}
{#                                       <div class="d-flex  gap-1">#}
{#                                          <div>#}
{#                                              <p class="p-0">(15/11/2011)  </p>#}
{#                                          </div>#}
{#                                           <div>#}
{#                                               <a href="javascript:void(0)" class="badge badge-circle badge-outline-primary">35</a>#}

{#                                           </div>#}
{#                                       </div>#}
{#                                   </div>#}
{#                               </li>#}
{#                           </ul>#}
{#                       </div>#}
{#                       <div class="card-footer pt-0 pb-0 text-center">#}
{#                           <div class="row">#}

{#                               <div class="col-6 pt-3 pb-3 border-end">#}
{#                                   <h3 class="mb-1 text-primary">12,37</h3>#}
{#                                   <span>Sınıf</span>#}
{#                               </div>#}
{#                               <div class="col-6 pt-3 pb-3">#}
{#                                   <h3 class="mb-1 text-primary">43</h3>#}
{#                                   <span>Eşleşen</span>#}
{#                               </div>#}
{#                           </div>#}
{#                       </div>#}
{#                   </div></div>#}
{#              </div>#}

            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Logo</th>
                                    <th>Marka Adı</th>
                                    <th>Firma</th>
                                    <th>Sınıf</th>
                                    <th>Bülten</th>
                                    <th>Başvuru No</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>
                                      <p class="badge-primary" style="font-size: 16px;color: white;padding: 5px">Markanız</p>
                                    </td>

                                    <td style="width: 200px ">
                                        <img src="{{ asset('assets/images/logo/anadol.png') }}" style="width: 150px; height: 100px; object-fit: contain"  />
                                    </td>
                                    <td data-search="2">Anada</td>
                                    <td style="min-width: 200px">
                                        <a href="#" data-bs-toggle="modal" data-bs-target=".detay-modal" class="text-primary text-decoration-underline">
                                            (7501626) ANADA OTOMOTİV SANAYİ VE TİCARET LİMİTED ŞİRKETİ
                                        </a>
                                    </td>
                                    <td style="width: 200px;">
                                        <div class="d-flex align-items-center gap-2 flex-wrap w-100" style="width: 100% !important;">
                                            <a href="javascript:void(0)" class="badge badge-circle badge-outline-primary">35</a>
                                            <a href="javascript:void(0)" class="badge badge-circle badge-outline-primary">12</a>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#" class="text-primary text-decoration-underline">
                                            426
                                        </a>
                                    </td>
                                    <td>
                                        <p>2023/090976</p>
                                        <p>13/07/2023</p>
                                    </td>


                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
              <div class="col-sm-12 col-xl-12">
                  <div class="row">
                      <div class="col-xl-12 "  >
                          <div class="tab-content ">
{#                              style="overflow:auto;max-height: 600px"#}
                              <div class="tab-pane fade active show "  >
                                  <div class="card full-screen-observation-list">
                                      <div class="card-header">
                                      <div class="d-flex justify-content-between align-items-center w-100">
                                         <div class="d-flex justify-content-between w-100">
                                             <div>
                                                 <h4 class="card-title">Marka Gözlem</h4>

                                                 <p class="toplu-marka-bildir d-none mt-2">
                                                     <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-rounded p-1">
                                                         Seçili olan 6 markayı bildir
                                                     </a>

                                                 </p>
                                             </div>
                                             <div>
                                                 <i class="fas fa-file-excel text-primary" style="font-size: 30px"></i>
                                             </div>
                                         </div>



                                      </div>
                                      </div>
                                      <div class="card-body">
                                          <div class="table-responsive">
                                              <table id="example5" class="table table-bordered table-responsive-sm" style="min-width: 845px">
                                                  <thead>
                                                  <tr>
                                                      <th>
                                                          <div class="form-check custom-checkbox ms-2">
                                                              <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                                              <label class="form-check-label" for="checkAll"></label>
                                                          </div>
                                                      </th>
                                                      <th>Logo</th>
                                                      <th>Marka Adı</th>
                                                      <th>Firma</th>
                                                      <th>Sınıf</th>
                                                      <th>Bülten</th>
                                                      <th>Başvuru No</th>
                                                      <th>Benzerlik</th>
                                                      <th>İşlemler</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>

                                                  <tr>
                                                      <td>
                                                          <div class="form-check custom-checkbox ms-2">
                                                              <input type="checkbox" class="form-check-input" id="customCheckBox3" required="">
                                                              <label class="form-check-label" for="customCheckBox2"></label>
                                                          </div>
                                                      </td>
                                                      <td style="width: 200px ">
                                                          <img src="{{ asset('assets/images/logo/anadol.png') }}" style="width: 150px; height: 100px; object-fit: contain"  />
                                                      </td>
                                                      <td data-search="2">Anada</td>
                                                      <td style="min-width: 200px">
                                                          <a href="#" data-bs-toggle="modal" data-bs-target=".detay-modal" class="text-primary text-decoration-underline">
                                                              (7501626) ANADA OTOMOTİV SANAYİ VE TİCARET LİMİTED ŞİRKETİ
                                                          </a>
                                                      </td>
                                                      <td style="width: 200px;">
                                                          <div class="d-flex align-items-center gap-2 flex-wrap w-100" style="width: 100% !important;">
                                                              <a href="javascript:void(0)" class="badge badge-circle badge-warning">35</a>
                                                              <a href="javascript:void(0)" class="badge badge-circle badge-outline-primary">12</a>
                                                          </div>
                                                      </td>
                                                      <td>
                                                          <a href="#" class="text-primary text-decoration-underline">
                                                             426
                                                          </a>
                                                      </td>
                                                      <td>
                                                          <p>2023/090976</p>
                                                          <p>13/07/2023</p>
                                                      </td>
                                                      <td>
                                                          100%
                                                      </td>
                                                      {#                                                      <td>#}
                                                      {#													<span class="badge light badge-danger">#}
                                                      {#														<i class="fa fa-circle text-danger me-1"></i>#}
                                                      {#														Kendi Markanız#}
                                                      {#													</span>#}
                                                      {#                                                      </td>#}
                                                      <td>
                                                         <a href="#" class="text-primary bold text-decoration-underline">İtiraz Et</a>
                                                      </td>
                                                  </tr>

                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="OnProgress">
                                  <div class="card">
                                      <div class="card-body dlab-scroll height370">
                                          <div class="row align-items-center">
                                              <div class="col-xl-3  col-lg-6 col-sm-12 align-items-center customers">
                                                  <div class="media-body">
                                                      <span class="text-primary d-block fs-18 font-w500 mb-1">#P-000441425</span>
                                                      <h3 class="fs-18 text-black font-w600">Redesign Owlio Landing Page Web..</h3>
                                                      <span class="d-block mb-lg-0 mb-0 fs-16"><i class="fas fa-calendar me-3"></i>Created on Sep 8th, 2020</span>
                                                  </div>
                                              </div>
                                              <div class="col-xl-2  col-lg-3 col-sm-4  col-6 mb-3">
                                                  <div class="d-flex project-image">
                                                      <img src="images/customers/11.jpg" alt="">
                                                      <div>
                                                          <small class="d-block fs-16 font-w400">Client</small>
                                                          <span class="fs-18 font-w500">James Jr.</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xl-2 col-lg-3 col-sm-4 col-6 mb-3 text-lg-center">
                                                  <div class="d-flex project-image">
                                                      <img src="images/customers/22.jpg" alt="">
                                                      <div>
                                                          <small class="d-block fs-16 font-w400">Person in charge</small>
                                                          <span class="fs-18 font-w500">Marley Dokidis</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xl-3  col-lg-6 col-sm-6 mb-sm-4 mb-0">
                                                  <div class="d-flex project-image">
                                                      <svg class="me-3" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                          <circle cx="27.5" cy="27.5" r="27.5" fill="#886CC0"/>
                                                          <g clip-path="url(#clip0)">
                                                              <path d="M37.2961 23.6858C37.1797 23.4406 36.9325 23.2843 36.661 23.2843H29.6088L33.8773 16.0608C34.0057 15.8435 34.0077 15.5738 33.8826 15.3546C33.7574 15.1354 33.5244 14.9999 33.2719 15L27.2468 15.0007C26.9968 15.0008 26.7656 15.1335 26.6396 15.3495L18.7318 28.905C18.6049 29.1224 18.604 29.3911 18.7294 29.6094C18.8548 29.8277 19.0873 29.9624 19.3391 29.9624H26.3464L24.3054 38.1263C24.2255 38.4457 24.3781 38.7779 24.6725 38.9255C24.7729 38.9757 24.8806 39 24.9872 39C25.1933 39 25.3952 38.9094 25.5324 38.7413L37.2058 24.4319C37.3774 24.2215 37.4126 23.931 37.2961 23.6858Z" fill="white"/>
                                                          </g>
                                                          <defs>
                                                              <clipPath>
                                                                  <rect width="24" height="24" fill="white" transform="translate(16 15)"/>
                                                              </clipPath>
                                                          </defs>
                                                      </svg>
                                                      <div>
                                                          <small class="d-block fs-16 font-w400">Deadline</small>
                                                          <span class="fs-18 font-w500">Tuesday,  Sep 29th 2020</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xl-2  col-lg-6 col-sm-4 mb-sm-3 mb-3 text-end">
                                                  <div class="d-flex justify-content-end project-btn">
                                                      <a href="javascript:void(0);" class=" btn bgl-warning text-warning fs-18 font-w600">PENDING</a>
                                                      <div class="dropdown ms-4  mt-auto mb-auto">
                                                          <div class="btn-link" data-bs-toggle="dropdown" >
                                                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                  <path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                  <path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                  <path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                              </svg>
                                                          </div>
                                                          <div class="dropdown-menu dropdown-menu-right" >
                                                              <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                                              <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="Pending">
                                  <div class="card">
                                      <div class="card-body">
                                          <div class="row align-items-center">
                                              <div class="col-xl-3  col-lg-6 col-sm-12 align-items-center customers">
                                                  <div class="media-body">
                                                      <span class="text-primary d-block fs-18 font-w500 mb-1">#P-000441425</span>
                                                      <h3 class="fs-18 text-black font-w600">Redesign Owlio Landing Page Web..</h3>
                                                      <span class="d-block mb-lg-0 mb-0 fs-16"><i class="fas fa-calendar me-3"></i>Created on Sep 8th, 2020</span>
                                                  </div>
                                              </div>
                                              <div class="col-xl-2  col-lg-3 col-sm-4  col-6 mb-3">
                                                  <div class="d-flex project-image">
                                                      <img src="images/customers/11.jpg" alt="">
                                                      <div>
                                                          <small class="d-block fs-16 font-w400">Client</small>
                                                          <span class="fs-18 font-w500">James Jr.</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xl-2 col-lg-3 col-sm-4 col-6 mb-3 text-lg-center">
                                                  <div class="d-flex project-image">
                                                      <img src="images/customers/22.jpg" alt="">
                                                      <div>
                                                          <small class="d-block fs-16 font-w400">Person in charge</small>
                                                          <span class="fs-18 font-w500">Marley Dokidis</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xl-3  col-lg-6 col-sm-6 mb-sm-4 mb-0">
                                                  <div class="d-flex project-image">
                                                      <svg class="me-3" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                          <circle cx="27.5" cy="27.5" r="27.5" fill="#886CC0"/>
                                                          <g clip-path="url(#clip0)">
                                                              <path d="M37.2961 23.6858C37.1797 23.4406 36.9325 23.2843 36.661 23.2843H29.6088L33.8773 16.0608C34.0057 15.8435 34.0077 15.5738 33.8826 15.3546C33.7574 15.1354 33.5244 14.9999 33.2719 15L27.2468 15.0007C26.9968 15.0008 26.7656 15.1335 26.6396 15.3495L18.7318 28.905C18.6049 29.1224 18.604 29.3911 18.7294 29.6094C18.8548 29.8277 19.0873 29.9624 19.3391 29.9624H26.3464L24.3054 38.1263C24.2255 38.4457 24.3781 38.7779 24.6725 38.9255C24.7729 38.9757 24.8806 39 24.9872 39C25.1933 39 25.3952 38.9094 25.5324 38.7413L37.2058 24.4319C37.3774 24.2215 37.4126 23.931 37.2961 23.6858Z" fill="white"/>
                                                          </g>
                                                          <defs>
                                                              <clipPath>
                                                                  <rect width="24" height="24" fill="white" transform="translate(16 15)"/>
                                                              </clipPath>
                                                          </defs>
                                                      </svg>
                                                      <div>
                                                          <small class="d-block fs-16 font-w400">Deadline</small>
                                                          <span class="fs-18 font-w500">Tuesday,  Sep 29th 2020</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xl-2  col-lg-6 col-sm-4 mb-sm-3 mb-3 text-end">
                                                  <div class="d-flex justify-content-end project-btn">
                                                      <a href="javascript:void(0);" class=" btn bgl-warning text-warning fs-18 font-w600">PENDING</a>
                                                      <div class="dropdown ms-4  mt-auto mb-auto">
                                                          <div class="btn-link" data-bs-toggle="dropdown" >
                                                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                  <path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                  <path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                  <path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                              </svg>
                                                          </div>
                                                          <div class="dropdown-menu dropdown-menu-right" >
                                                              <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                                              <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="Closed">
                                  <div class="card">
                                      <div class="card-body">
                                          <div class="row align-items-center">
                                              <div class="col-xl-3  col-lg-6 col-sm-12 align-items-center customers">
                                                  <div class="media-body">
                                                      <span class="text-primary d-block fs-18 font-w500 mb-1">#P-000441425</span>
                                                      <h3 class="fs-18 text-black font-w600">Redesign Owlio Landing Page Web..</h3>
                                                      <span class="d-block mb-lg-0 mb-0 fs-16"><i class="fas fa-calendar me-3"></i>Created on Sep 8th, 2020</span>
                                                  </div>
                                              </div>
                                              <div class="col-xl-2  col-lg-3 col-sm-4  col-6 mb-3">
                                                  <div class="d-flex project-image">
                                                      <img src="images/customers/11.jpg" alt="">
                                                      <div>
                                                          <small class="d-block fs-16 font-w400">Client</small>
                                                          <span class="fs-18 font-w500">James Jr.</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xl-2 col-lg-3 col-sm-4 col-6 mb-3 text-lg-center">
                                                  <div class="d-flex project-image">
                                                      <img src="images/customers/22.jpg" alt="">
                                                      <div>
                                                          <small class="d-block fs-16 font-w400">Person in charge</small>
                                                          <span class="fs-18 font-w500">Marley Dokidis</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xl-3  col-lg-6 col-sm-6 mb-sm-4 mb-0">
                                                  <div class="d-flex project-image">
                                                      <svg class="me-3" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                          <circle cx="27.5" cy="27.5" r="27.5" fill="#886CC0"/>
                                                          <g clip-path="url(#clip0)">
                                                              <path d="M37.2961 23.6858C37.1797 23.4406 36.9325 23.2843 36.661 23.2843H29.6088L33.8773 16.0608C34.0057 15.8435 34.0077 15.5738 33.8826 15.3546C33.7574 15.1354 33.5244 14.9999 33.2719 15L27.2468 15.0007C26.9968 15.0008 26.7656 15.1335 26.6396 15.3495L18.7318 28.905C18.6049 29.1224 18.604 29.3911 18.7294 29.6094C18.8548 29.8277 19.0873 29.9624 19.3391 29.9624H26.3464L24.3054 38.1263C24.2255 38.4457 24.3781 38.7779 24.6725 38.9255C24.7729 38.9757 24.8806 39 24.9872 39C25.1933 39 25.3952 38.9094 25.5324 38.7413L37.2058 24.4319C37.3774 24.2215 37.4126 23.931 37.2961 23.6858Z" fill="white"/>
                                                          </g>
                                                          <defs>
                                                              <clipPath>
                                                                  <rect width="24" height="24" fill="white" transform="translate(16 15)"/>
                                                              </clipPath>
                                                          </defs>
                                                      </svg>
                                                      <div>
                                                          <small class="d-block fs-16 font-w400">Deadline</small>
                                                          <span class="fs-18 font-w500">Tuesday,  Sep 29th 2020</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-xl-2  col-lg-6 col-sm-4 mb-sm-3 mb-3 text-end">
                                                  <div class="d-flex justify-content-end project-btn">
                                                      <a href="javascript:void(0);" class=" btn bgl-warning text-warning fs-18 font-w600">PENDING</a>
                                                      <div class="dropdown ms-4  mt-auto mb-auto">
                                                          <div class="btn-link" data-bs-toggle="dropdown" >
                                                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                  <path d="M11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                  <path d="M18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                                  <path d="M4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12Z" stroke="#737B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                              </svg>
                                                          </div>
                                                          <div class="dropdown-menu dropdown-menu-right" >
                                                              <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                                              <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

{% endblock %}
{# Page Content End #}

{# Javascripts Start #}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/select2/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins-init/select2-init.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/sweetalert2/dist/sweetalert2.min.js') }}"></script>


    <script>
       $(document).ready(() => {
           let checkedRowData = [];
           var table = $('#example5').DataTable({
               searching: true,
               paging:true,
               select: true,
               info: false,
               lengthChange:false ,
               language: {
                   paginate: {
                       next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                       previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
                   }
               }

           });


           $('#example5').on('click', 'input[type="checkbox"]', function () {
               // handle checkbox click event
               setTimeout(() => {

                   // all checked tr get
                   $('#example5').find('tr').each(function () {
                       checkedRowData = [];

                       $('#example5 input[type="checkbox"]').each(function () {

                           if($(this).is(':checked')) {
                               let rowData = table.row($(this).closest('tr'))
                               // get td list
                               let tdList = $(this).closest('tr').find('td');
                               let tdValue = tdList.eq(2).attr('data-search'); // içerisindeki veriyi alıyor

                               if(rowData.data() != undefined) {
                                   checkedRowData.push(rowData.data());

                               }
                           }



                       });
                   });
                   topluGozlemBildir();
               }, 500)

               function topluGozlemBildir(){

                   console.log(checkedRowData)

                   if(checkedRowData.length > 0) {
                       $('.toplu-marka-bildir').removeClass('d-none');
                       $('.toplu-marka-bildir').html(`
                        <a href="javascript:void(0)" class="btn btn-primary btn-rounded"  data-bs-toggle="modal" data-bs-target="#similarityModel">
                                                  Seçili olan ${checkedRowData.length} markayı bildir
                                              </a>
                    `)
                   }else {
                       $('.toplu-marka-bildir').addClass('d-none');
                   }

               }


               $('.toplu-marka-bildir').on('click', function () {
                   return
                   var htmlContent =
                       // 3 checbox ekle
                       `<div class="dropdown">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Dropdown button
                                        </button>
                                        <div class="dropdown-menu" style="margin: 0px;">
                                            <a class="dropdown-item" href="#">Link 1</a>
                                            <a class="dropdown-item" href="#">Link 2</a>
                                            <a class="dropdown-item" href="#">Link 3</a>
                                        </div>
                                    </div>


                        `

                   swal.fire({
                       title: "Seçilenleri Bildir",
                       html: htmlContent,
                       focusConfirm: false,
                       preConfirm: function(){
                           textInput = $('#swal-input1').val()
                           linkInput = $('#swal-input2').val()
                           //do something
                       }
                   })
               })


           });



       })
    </script>

{% endblock %}
{# Javascripts End #}
